.root {
  background-color: var(--Bg-Light);
  padding: 12px 20px;
  border-radius: 12px;
  text-align: center;
}

@media (max-width: 900px) {
  .root {
    padding: 6px 12px;
    font-size: 10px;
    text-align: center;
  }
}
