.root {
  color: var(--color);
  line-height: 150%;
}

.bold {
  font-weight: var(--Text-Bold);
}

.thin {
  font-weight: var(--Text-Thin);
}

@media (max-width: 900px) {
  .big {
    font-size: 25px;
  }
  .default {
    font-size: 14px;
  }

  .small {
    font-size: 10px;
  }
}
