.root {
  padding: 72px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 1280px;
  width: 100%;
}

.text {
  margin-top: 32px;
  align-items: center;
  text-align: center;
}

.cards {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 32px;
  margin-top: 48px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: auto;
}

.priceBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
}
