html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-geometria);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  font-weight: normal;
}

button {
  font-family: var(--font-geometria);
}

:root {
  --Bg-Medium: #7d66d7;
  --Typo-OpacityWhite: rgba(255, 255, 255, 0.8);
  --Typo-Black: #25282a;
  --Typo-White: #fff;
  --Typo-Placeholder: #bbb;
  --Bg-Primary: #583ae0;
  --Text-Thin: 300;
}
