
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-geometria);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2 {
  font-weight: normal;
}


:root {
  --Bg-Medium: #7D66D7;
  --Typo-OpacityWhite:rgba(255, 255, 255, 0.80);
  --Typo-Black:#25282A;
  --Typo-White:#FFF;
  --Typo-Placeholder:#BBB;
  --Bg-Primary:#583AE0;
  --Text-Thin:300;
 }



 
