.root {
  color: var(--Typo-White);
  background-color: var(--Bg-Primary);
  border: none;
  border-radius: 30px;
  width: fit-content;
  cursor: pointer;
}

@media (hover: hover) {
  .root:hover {
    background-color: #4d2fd3;
    transition: background-color 0.3s;
  }
}

.default {
  font-size: 20px;
  padding: 14px 24px;
}

.small {
  font-size: 16px;
  padding: 12px 20px;
}

@media (max-width: 800px) {
  .default {
    font-size: 15px;
    padding: 10px 20px;
  }

  .small {
    font-size: 11px;
    padding: 8px 16px;
  }
}
