.root {
  padding: 72px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
}

.content {
  max-width: 1280px;
}

.platform {
  font-weight: var(--Text-Thin);
}

.text {
  margin-top: 32px;
  align-items: center;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 48px;
}

.cardsLayout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  gap: 32px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  flex-shrink: 0;
}

@media (max-width: 900px) {
  .root {
    padding: 50px 0px;
  }

  .wrapper {
    padding: 0px 32px;
  }

  .cardsLayout {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 50px;
  }

  .circle {
    width: 28px;
    height: 28px;
    font-size: 10px;
  }
}
